.splash {
  align-items: center;
  background-color: #050d53;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  padding: 72px;
  text-align: center;
}

.title {
  color: #d69f4c;
  font-size: 108pt;
  line-height: 1em;
}

.subtitle {
  color: white;
  font-size: 24pt;
}
